@import "settings";

*{
  box-sizing: border-box;
}

html{
  height: 100%;
}

body {
  background: $color-dark;
  background-image: url("../../images/background.png");
  height: 100%;
  margin: 2px;
  @media(min-width: 40em) {
    margin-top: 40px;
  }
}
.svg-sprite {
  display: none;
}
.container{
  margin: 0 auto;
  max-width: 40em;
  padding: 5px;
  background-color: transparentize($color-primary-1,.6);
  border-radius: 10px;
  @media(min-width: 40em) {
    padding: 10px;
    border: 15px solid $color-darkest;
    border-right-width: 30px;
    box-shadow: -8px 12px 8px 8px transparentize($color-black,.3);
  }
}

.brand{
  text-align: center;
  color: $color-brand;
  color: transparentize($color-brand, .2);
}
