@import 'settings';

.c-ingredient__item {
  display: flex;

  margin-bottom: 8px;
  padding: 5px;

  border-radius: 3px;

  background-color: transparentize($color-white, .4);

  .c-ingredient__name {
    color: darken($color-secondary-1-4, 10%);
  }
  .c-ingredient__name--editable {
    width: 100%;
    padding: 5px;
    padding-left: 10px;

    border: 0;
    border-radius: 5px;

    font-size: 1.5em;
  }
  .c-ingredient__update--form {
    flex: 99;
  }
  .c-ingredient__update--check {
    width: 32px;
    height: 32px;
    margin-bottom: -8px;
    margin-left: -35px;

    fill: $color-secondary-1-4;
    &:hover {
      cursor: pointer;

      fill: $color-secondary-2-4;
    }
  }
  .c-ingredient__delete {
    margin-left: auto;
  }
  .c-ingredient__delete {
    width: 16px;
    height: 16px;
    margin-left: auto;

    border: 0;

    font-size: 1.1em;

    fill: $color-secondary-1-2;
    &:hover {
      cursor: pointer;

      fill: $color-secondary-1-4;
    }
  }
  .c-ingredient__edit {
    width: 16px;
    height: 16px;
    margin: auto 15px;

    border: 0;

    font-size: 1.1em;

    fill: $color-secondary-1-2;
    &:hover {
      cursor: pointer;

      fill: $color-secondary-1-4;
    }
  }
}
