@import "settings";

.c-recipie {
    background-color: $color-secondary-1-0;
    background-color: transparentize($color-secondary-1-0,.2);
    border-radius: 5px;
    margin-bottom: 10px;

    .c-recipie__header{
    border-radius: 5px;
    background-color: transparentize($color-secondary-1-4,0);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
  }

  .c-recipie__name{
    font-size: 1.5em;
    padding: 5px;
    margin: 0;
    display: inline-block;
    color: $color-white;
    color: transparentize($color-white,.2);
    flex: 99;
    cursor: pointer;
  }
  .c-recipie__update--form{
    flex: 99;
  }
  .c-recipie__name--editable{
    font-size: 1.5em;
    border-radius: 5px;
    border: 0;
    width: 100%;
    padding: 5px;
    padding-left: 10px;
  }

  .c-recipie__update {
    font-size: 1.5em;
    border-radius: 0 5px 5px 0;
    border: 0;
    display: none;
  }

  .c-recipie__update--check {
    height: 32px;
    width: 32px;
    fill: $color-secondary-1-4;
    margin-left:-35px;
    margin-bottom: -8px;
    &:hover{
      fill: $color-secondary-2-4;
      cursor: pointer;
    }
  }


  .c-recipie__delete{
    font-size: 1.1em;
    border: 0;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    fill: $color-secondary-1-3;
    &:hover{
      fill: $color-secondary-1-1;
      cursor: pointer;
    }
  }
  .c-recipie__edit{
    font-size: 1.1em;
    border: 0;
    fill: $color-secondary-1-3;
    margin: auto 15px;
    width: 20px;
    height: 20px;
    &:hover{
      cursor: pointer;
      fill: $color-secondary-1-1;
    }
  }
}
