.c-recipie__control__textbox {
  width: 80%;
  padding: 5px 0 5px 10px;
  border: 0;
  border-radius: 5px 0 0 5px;
  background-color: #B8D7BB;
  color: #3A8544;
  font-size: 1.5em; }
  .c-recipie__control__textbox:focus {
    background-color: #E0EDE2; }
  .c-recipie__control__textbox::-webkit-input-placeholder {
    color: #E0EDE2; }
  @media (min-width: 400px) {
    .c-recipie__control__textbox {
      width: 85%; } }

.c-recipie__control__submit {
  width: 20%;
  padding: 5px;
  border: 0;
  border-radius: 0 5px 5px 0;
  background-color: #3A8544;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.5em; }
  .c-recipie__control__submit:hover {
    color: #fff;
    cursor: pointer; }
  @media (min-width: 400px) {
    .c-recipie__control__submit {
      width: 15%; } }
