* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  background: slategrey;
  background-image: url("../../images/background.png");
  margin-top: 40px;
  height: 100%; }

.container {
  margin: 0 auto;
  max-width: 32em;
  padding: 10px;
  background-color: #ccc;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  border: 15px solid #592016; }

.brand {
  text-align: center;
  color: #592016;
  color: rgba(89, 32, 22, 0.8); }
