* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  background: #a55c4d;
  background-image: url("../../images/background.png");
  height: 100%;
  margin: 2px; }
  @media (min-width: 40em) {
    body {
      margin-top: 40px; } }

.svg-sprite {
  display: none; }

.container {
  margin: 0 auto;
  max-width: 40em;
  padding: 5px;
  background-color: rgba(255, 248, 241, 0.4);
  border-radius: 10px; }
  @media (min-width: 40em) {
    .container {
      padding: 10px;
      border: 15px solid #592016;
      border-right-width: 30px;
      box-shadow: -8px 12px 8px 8px rgba(0, 0, 0, 0.7); } }

.brand {
  text-align: center;
  color: #592016;
  color: rgba(89, 32, 22, 0.8); }
