.c-ingredient__item {
  display: flex;
  margin-bottom: 8px;
  padding: 5px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.6); }
  .c-ingredient__item .c-ingredient__name {
    color: #293351; }
  .c-ingredient__item .c-ingredient__name--editable {
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    border: 0;
    border-radius: 5px;
    font-size: 1.5em; }
  .c-ingredient__item .c-ingredient__update--form {
    flex: 99; }
  .c-ingredient__item .c-ingredient__update--check {
    width: 32px;
    height: 32px;
    margin-bottom: -8px;
    margin-left: -35px;
    fill: #3A4973; }
    .c-ingredient__item .c-ingredient__update--check:hover {
      cursor: pointer;
      fill: #3A8544; }
  .c-ingredient__item .c-ingredient__delete {
    margin-left: auto; }
  .c-ingredient__item .c-ingredient__delete {
    width: 16px;
    height: 16px;
    margin-left: auto;
    border: 0;
    font-size: 1.1em;
    fill: #ABB2C4; }
    .c-ingredient__item .c-ingredient__delete:hover {
      cursor: pointer;
      fill: #3A4973; }
  .c-ingredient__item .c-ingredient__edit {
    width: 16px;
    height: 16px;
    margin: auto 15px;
    border: 0;
    font-size: 1.1em;
    fill: #ABB2C4; }
    .c-ingredient__item .c-ingredient__edit:hover {
      cursor: pointer;
      fill: #3A4973; }
