.c-recipie {
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #3a4973;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px; }
  .c-recipie .c-recipie__name {
    font-size: 1.5em;
    padding: 5px;
    margin: 0;
    display: inline-block;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    flex: 99;
    cursor: pointer; }
  .c-recipie .c-recipie__update--form {
    flex: 99; }
  .c-recipie .c-recipie__name--editable {
    font-size: 1.5em;
    border-radius: 5px;
    border: 0;
    width: 100%;
    padding: 5px;
    padding-left: 10px; }
  .c-recipie .c-recipie__update {
    font-size: 1.5em;
    border-radius: 0 5px 5px 0;
    border: 0;
    display: none; }
  .c-recipie .c-recipie__update--check {
    height: 20px;
    width: 20px;
    fill: rgba(0, 0, 0, 0.8);
    margin: 5px 0 0 -35px; }
    .c-recipie .c-recipie__update--check:hover {
      fill: green;
      fill: rgba(0, 200, 0, 0.7);
      transform: scale(1.2);
      cursor: pointer; }
  .c-recipie .c-recipie__delete {
    font-size: 1.1em;
    border: 0;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    fill: #59678B; }
    .c-recipie .c-recipie__delete:hover {
      fill: #D9DCE4;
      cursor: pointer; }
  .c-recipie .c-recipie__edit {
    font-size: 1.1em;
    border: 0;
    fill: #59678B;
    margin: auto 15px;
    width: 20px;
    height: 20px; }
    .c-recipie .c-recipie__edit:hover {
      cursor: pointer;
      fill: #D9DCE4; }
