.c-recipie {
  background-color: #7E88A4;
  background-color: rgba(126, 136, 164, 0.8);
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative; }
  .c-recipie .c-recipie__header {
    border-radius: 5px 5px 0 0;
    background-color: #3a4973;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    padding-left: 25px; }
  .c-recipie .c-recipie__name {
    font-size: 1.5em;
    padding: 5px;
    margin: 0;
    display: inline-block;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    flex: 99;
    cursor: pointer; }
    .c-recipie .c-recipie__name:after {
      content: '';
      border: 8px solid transparent;
      border-top: 8px solid #ABB2C4;
      width: 0;
      height: 0;
      display: block;
      margin-left: -25px;
      margin-top: -16px;
      position: absolute; }
  .c-recipie .c-recipie__update--form {
    flex: 99; }
  .c-recipie .c-recipie__name--editable {
    font-size: 1.5em;
    border-radius: 5px;
    border: 0;
    width: 100%;
    padding: 5px;
    padding-left: 10px; }
  .c-recipie .c-recipie__update {
    font-size: 1.5em;
    border-radius: 0 5px 5px 0;
    border: 0;
    display: none; }
  .c-recipie .c-recipie__update--check {
    height: 32px;
    width: 32px;
    fill: #3A4973;
    margin-left: -35px;
    margin-bottom: -8px; }
    .c-recipie .c-recipie__update--check:hover {
      fill: #3A8544;
      cursor: pointer; }
  .c-recipie .c-recipie__delete {
    font-size: 1.1em;
    border: 0;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    fill: #59678B; }
    .c-recipie .c-recipie__delete:hover {
      fill: #D9DCE4;
      cursor: pointer; }
  .c-recipie .c-recipie__edit {
    font-size: 1.1em;
    border: 0;
    fill: #59678B;
    margin: auto 15px;
    width: 20px;
    height: 20px; }
    .c-recipie .c-recipie__edit:hover {
      cursor: pointer;
      fill: #D9DCE4; }

.c-recipie--collapsed .c-recipie__name:after {
  content: '';
  border: 8px solid transparent;
  border-left: 8px solid #59678B;
  width: 0;
  height: 0;
  display: block;
  margin-left: -20px;
  margin-top: -20px;
  position: absolute; }

.c-recipie--collapsed .c-recipie__header {
  border-radius: 5px; }
