.c-recipie {
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: slategrey;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px; }
  .c-recipie .c-recipie__name {
    font-size: 1.5em;
    padding: 5px;
    margin: 0;
    display: inline-block;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    flex: 99; }
  .c-recipie .c-recipie__update--form {
    flex: 99; }
  .c-recipie .c-recipie__name--editable {
    font-size: 1.5em;
    border-radius: 5px;
    border: 0;
    width: 100%;
    padding: 5px;
    padding-left: 10px; }
  .c-recipie .c-recipie__update {
    font-size: 1.5em;
    border-radius: 0 5px 5px 0;
    border: 0;
    display: none; }
  .c-recipie .c-recipie__update--check {
    height: 16px;
    width: 16px;
    fill: rgba(0, 0, 0, 0.8);
    margin-left: -25px; }
    .c-recipie .c-recipie__update--check:hover {
      fill: green;
      fill: rgba(0, 200, 0, 0.7);
      transform: scale(1.2);
      cursor: pointer; }
  .c-recipie .c-recipie__delete {
    font-size: 1.1em;
    border-radius: 50%;
    border: 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.7);
    margin-left: 10px;
    width: 24px;
    height: 24px;
    mask-image: url("../../images/trash.svg");
    mask-repeat: no-repeat;
    mask-size: 16px 16px;
    mask-position: 4px 4px; }
    .c-recipie .c-recipie__delete:hover {
      background-color: rgba(255, 255, 255, 0.7);
      color: white;
      cursor: pointer; }
  .c-recipie .c-recipie__edit {
    border-radius: 10px;
    font-size: 1.1em;
    border: 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.7);
    margin-left: 10px;
    width: 20px;
    height: 20px;
    mask-image: url("../../images/pencil.svg");
    mask-repeat: no-repeat;
    mask-size: 16px 16px;
    mask-position: 2px 2px; }
    .c-recipie .c-recipie__edit:hover {
      background-color: rgba(255, 255, 255, 0.7);
      color: white;
      cursor: pointer;
      border: 1px solid white; }
